.menu_footer{
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    width: 90%;
    background-color: rgb(133, 5, 5);
    color: rgb(255, 255, 255);
    padding: 30px;

}
.menu_footer p{
    text-align: justify;
    width: 250px;
}
