.menu_footer{
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    width: 80%;
    margin:0 0 0 5%;
    max-height: 150px;
    background-color: #4F1717;
    padding: 30px;
    

}
footer .colonne ul{
    font-size: 0.70em;
    list-style: none;
    margin-bottom: 30px;
}
footer .colonne h3{
    font-size: 1em;
    color: #F9EBEB;
}
footer .colonne a{
  text-decoration: none;
  color: #E8B0B0;
}


/* footer .colonne h3::after {
  content: "";
  width: 10px;
  height: 10px;
  display: none;
}
footer .colonne h3:hover::after {
  transform: scale(1.02);
  transition: 0.03s;
  display: block;
} */

