*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100%;
    font-size: 20px;
    font-family: sans-serif;
    background-image: radial-gradient(circle,#461717,#461717,#1C0808);
    background-color: #1C0808;
    color: white;
}
.container{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

main{
    width: 100%;
    min-height: 1000px;

}

footer{
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.click_up a img{
    border-radius: 50px;
    padding: 5px;
    display: flex;;
    background-color: #d11c1c83;
}
.click_up img{
    width: 35px;
    height: 35px;
}