*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100%;
    font-size: 20px;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    min-height: 80px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main{
    width: 100%;
    min-height: 1000px;
    background-color: #8b4848;
}

footer{
    width: 100%;
    min-height: 150px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
}