section{
    
    width: 100%;
    height: 100vh;

}
section.hero, section.apropos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.panneau{
    width: 95%;
    height: 90vh;
    background-image: url(../image/sushiman.png);
    background-position: center;
    background-attachment: fixed;
    border-radius: 16px;
}

section.apropos{
    display: flex;
    align-self: start;
    flex-direction: column;
}
.titres{

    background-color: #fff;
    width: 90%;
    height: 100px;
}
.contenu{
    width: 90%;
    max-height: 90vh;
    border-radius: 16px;
    padding: 40px;
    background: #bc64f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}
.contenu p{
    width: 50%;
    margin-right: 50px;
}
 .picture{
    background: url(../image/plat_sushi.jpg) no-repeat;
    background-size: cover;
    width: 20%;
    height: 600px;
}

section.fin{
    height: 400px;
}