section{
    
    width: 100%;
    height: 100vh;

}
section.hero, section.apropos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.panneau{
    width: 95%;
    height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(../image/sushiman.png);
    background-position: center;
    background-attachment: fixed;
    border-radius: 16px;
}
.panneau_montauban{
    width: 95%;
    height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(../image/sushimonster-montauban.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 16px;
}
.panneau_toulouse{
    width: 95%;
    height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(../image/sushimonster-toulouse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 16px;
}
.panneau_agen{
    width: 95%;
    height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(../image/sushimonster-agen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 16px;
}

.panneau img{
    width: 400px;
    height: 180px;
    padding: 20px;
    margin: 15px;
    background-color: #ffffff71;
}

section.apropos{
    display: flex;
    align-items: start;
    flex-direction: row;
}
.texte{
    display: flex;
    flex-direction: column;
    width: 60%;

}
.titres{

    /* background-color: #fff; */
    width: 80%;
    min-height: 100px;
    padding: 30px;
}

.titres h1{
    font-size: 3em;
}
.contenu{
    width: 90%;
    max-height: 90vh;
    padding: 40px;
    border-radius: 40px 0 16px 0;
    background-color: #772222;
    border:15px  rgb(187, 66, 66);
    border-style: groove;
}
.texte h2{
    width: 100%;
    margin-top: 10%;
    /* background-color: #ffffff; */
}


 .picture{
    background: url(../image/plat_sushi.jpg) no-repeat;
    background-size: cover;
    width: 20%;
    height: 600px;
}


section.fin{
    border-top: solid 1px ;
    width: 80%;
    margin: 0 10%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}