nav {
  min-width: 500px;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 20px;
  padding: 10px 40px;
  border-radius: 16px;
  background: #d11c1c;
  list-style: none;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  align-items: center;

}

