nav {
  min-width: 500px;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 20px;
  padding: 10px 40px;
  border-radius: 16px;
  background-color: #C63939;
  list-style: none;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  align-items: center;

}

nav ul li:hover{
  transition: 0.03s;
  transform: scale(1.05);
  box-shadow: 3px 4px 20px 4px rgba(255, 0, 0, 0.164);
}
