nav {
  width: 500px;
  background-color: #fff;
  min-height: 40px;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 20px;
  list-style: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
  align-items: center;
}
